absl-py==0.7.0
-e git+https://github.com/aakinlalu/Ajo.git@be2fa9c8281ce09b21057a06c936c15316b71389#egg=Ajo
alabaster==0.7.12
alembic==0.8.10
apache-airflow==1.10.1
appnope==0.1.0
arrow==0.13.1
asn1crypto==0.24.0
astor==0.7.1
autopep8==1.4.3
autovizwidget==0.12.7
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.7.1
binaryornot==0.4.4
bleach==2.1.4
blis==0.2.4
bokeh==1.1.0
boto3==1.7.84
botocore==1.10.84
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.8.1
colorama==0.4.1
commonmark==0.8.1
conda==4.5.12
configparser==3.5.0
cookiecutter==1.6.0
croniter==0.3.26
cryptography==2.4.2
cycler==0.10.0
cymem==2.0.2
dask==1.2.0
dask-labextension==0.3.3
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
distributed==1.27.0
Django==2.1.7
docutils==0.14
drymail==0.0.5
entrypoints==0.2.3
euclid3==0.1
findspark==1.3.0
Flask==0.12.4
Flask-Admin==1.4.1
Flask-AppBuilder==1.12.2
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
future==0.16.0
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
google-pasta==0.1.4
googleapis-common-protos==1.5.8
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.9.0
hdijupyterutils==0.12.7
HeapDict==1.0.0
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
ipykernel==4.10.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.8.1
jinja2-time==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.3
jupyterlab-server==0.2.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==17.1.1
kiwisolver==1.0.1
lockfile==0.12.2
lxml==4.2.5
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==3.0.2
metakernel==0.20.14
mistune==0.8.4
mock==2.0.0
monotonic==1.5
msgpack==0.6.1
murmurhash==1.0.2
nbconvert==5.3.1
nbformat==4.4.0
nose==1.3.7
notebook==5.7.4
numpy==1.15.4
ordereddict==1.1
packaging==19.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pbr==5.1.3
pendulum==1.4.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.0.0
plac==0.9.6
plotly==2.7.0
poyo==0.4.2
preshed==2.0.1
prettytable==0.7.2
prometheus-client==0.5.0
promise==2.2.1
prompt-toolkit==1.0.15
protobuf==3.7.0
psutil==5.6.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
Pygments==2.3.1
pykerberos==1.2.1
pyOpenSSL==18.0.0
pyparsing==2.3.1
pypng==0.0.19
PyQRCode==1.2.1
PyScaffold==3.1
pyscaffoldext-markdown==0.2.1
pyscaffoldext-pyproject==0.1
PySocks==1.6.8
python-daemon==2.1.2
python-dateutil==2.7.5
python-editor==1.0.3
python-nvd3==0.15.0
python-slugify==2.0.0
python3-openid==3.1.0
pytz==2018.7
pytzdata==2018.7
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
-e git+https://github.com/aakinlalu/Recommender-with-AI-Assistant.git@67569361530ac7bb47d5b974c662cf21d8fd694c#egg=Recommender_with_AI_Assistant
recommonmark==0.5.0
regex==2019.4.14
requests==2.22.0
requests-kerberos==0.12.0
ruamel-yaml==0.15.46
s3transfer==0.1.13
schedule==0.6.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
setproctitle==1.1.10
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
smmap2==2.0.5
snowballstemmer==1.2.1
solidpython==0.3.1
sortedcontainers==2.1.0
soupsieve==1.7.3
spacy==2.1.3
sparkmagic==0.12.7
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
spylon==0.3.0
spylon-kernel==0.4.1
SQLAlchemy==1.1.18
srsly==0.0.5
statsmodels==0.9.0
tabulate==0.8.2
tb-nightly==1.14.0a20190301
tblib==1.3.2
tenacity==4.8.0
tensorflow==2.0.0a0
tensorflow-datasets==1.0.1
tensorflow-metadata==0.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019030115
thinc==7.0.4
thrift==0.11.0
-e git+https://github.com/aakinlalu/TimeSeries-Anomaly-App.git@8492787366a3dc13368c30121d7f21f8aad5170b#egg=TimeSeries_Anomaly_App
toolz==0.9.0
tornado==5.1.1
tqdm==4.29.1
traitlets==4.3.2
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.2
wasabi==0.2.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
wrapt==1.11.1
WTForms==2.2.1
xlrd==1.2.0
yagmail==0.11.214
zict==0.1.4
zope.deprecation==4.4.0
